services:
  - type: web
    name: crazycravings-backend
    env: docker
    region: ohio
    plan: free
    branch: main
    rootDir: FoodRegisterANDLogin
    envVars:
      - key: DB_URL
        sync: false
      - key: DB_USERNAME
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: FAST2SMS_API_KEY
        sync: false
