body, .checkout {
  font-size: 14px;
  font-weight: 600;
}

.delivery-details {
  display: flex;
  gap: 15px;
  margin-top: 110px;
  justify-content: center;
}

.details-container,
.checkout-container {
  padding: 20px;
  height: 400px;
  width: 40%;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.6);
}

.details-container h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 900;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}

.input-group label {
  font-weight: 900;
}
.input-group input,
.input-group textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid rgb(255, 85, 0);
  border-radius: 8px;
}

.input-group input:focus {
  box-shadow: 0px 0px 5px rgba(255, 85, 0, 0.9);
}

/* ORDER SUMMARY */
.checkout-container h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 900;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}


/* ITEMS stay INSIDE BOX */
.checkout-items {
  height: 250px;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}


/* CART BELOW */
.cart-container {
  padding: 10px 10px;
}

.cart-item {
  display: flex;
  gap: 20px;
  height: 70px;
  margin-bottom: 20px;
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.6);
}

.cart-img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 10px;
}

.cart-info h3 {
  margin: 4px;
}

 .qty-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
}

.qty-buttons button {
  padding: 6px 12px; 
  background: rgb(255, 85, 0);
  border: none;
  color: #fff;
  border-radius: 6px; 
  cursor: pointer;
}

.remove-btn {
  margin-top: 20px;
  background: white;
  font-size: 14px;
  font-weight: 600;
  height: 30px;
  border:1px solid rgb(255, 85, 0);
  color: rgb(255, 85, 0);
  padding:0px, 0px, 0px, 0px;
  border-radius: 6px;
  cursor: pointer;
}
.remove-btn:hover {
  background: rgb(255, 85, 0);
  color: white;
}

.cart-total {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}
.bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}

.checkout-total {
  margin-top: 15px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.checkout-btn {
  margin-top: 20px;
  padding: 10px 16px;
  background: white;
  border: 1px solid rgb(255, 85, 0);
  color: rgb(255, 85, 0);
  border-radius: 8px;
  cursor: pointer;
}
.checkout-btn:hover {
  background: rgb(255, 85, 0);
  color: white;
}