/* Background blur overlay */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
}

/* Popup box */
.modal {
  width: 350px;
  background: #fff;
  padding: 24px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.25);
  animation: popup 0.3s ease;
}

/* Animation */
@keyframes popup {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.input {
  width: 90%;
  padding: 12px;
  margin-top: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.submit-btn {
  width: 100%;
  background: rgb(255, 85, 0);
  color: #fff;
  padding: 12px;
  margin-top: 18px;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  background: rgb(255, 60, 0);
}

.close-btn {
  margin-top: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #444;
  font-size: 15px;
}

.close-btn:hover {
  color: red;
}
